body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.landingpage-header {
    background: #01273b;
    padding: 7px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
}
.headerh1 {
    color: rgb(251, 255, 254);
    font-size: 11px;
    font-style: normal;
    margin-top: 0px;     /* push down */
    margin-bottom: 0px;  /* push up from below */
    margin-left: 10px;    /* push right */
    margin-right: 0px;   /* push left */
}
.headerP {
    color: rgb(255, 255, 255);
    font-size: 9px;
    font-style: normal;
    text-align: center;
    margin-top: 0px;     /* push down */
    margin-bottom: 0px;  /* push up from below */
    margin-left: 10px;    /* push right */
    margin-right: 0px;   /* push left */
}
.logo{
    margin-top: 0px;     /* push down */
    margin-bottom: 0px;  /* push up from below */
    margin-left: 30px;    /* push right */
    margin-right: 0px;   /* push left */
}