.logo {
    align-items: center;
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.login-header {
    background: #01273b;
    padding: 5px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
}